*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #e1ebff; 
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}
.todos__wrapper {
  margin: 50px;
}
.heading {
  width: 360px;
  height: 33px;
  display: flex;
  justify-content: space-between;
  /*padding-left: 32px;*/
}
.todos__wrapper__h1{
  font-size: 28px;
  margin-bottom: 26px;
}
.button {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s /* ease-in-out */ cubic-bezier(0.075, 0.82, 0.165, 1);
}
.button:hover {
  opacity: 0.5;
}
.todos{
  padding: 32px; 
  max-width: 424px;  
}
.todo{
  border-radius: 5px;
  background: #f7f7f7;
  margin-bottom: 10px;
}
.todo:nth-child(even){ 
  background: #e1ebff;  
}
.todo:hover{
  cursor: pointer;
  background: rgb(189, 245, 175);
}
.todo__title{
  padding-top: 13px;
  padding-left: 16px;
  padding-bottom: 11px;
  font-size: 18px;
}
.todo__date{
  padding-left: 16px;
  padding-bottom: 5px;
  color: #bebebe;
}

/*newTodo.css*/
.editTodo__modal,
.newTodo__modal{
  /* display: none; Hidden by default */
  transform: translateY(-100%);
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.2); /* Black w/ opacity */
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.8s cubic-bezier(0.005, 0.002, 0.0065, 1);
}
.editTodoShow {
  /* display: block; */
  transform: translateY(0%);
}
.editTodo,
.newTodo{
  width: 419px;
  padding: 30px 31px;
  margin-top: 175px ;
  margin-left: 34.5%;
  /*margin-left: 470px;*/
  align-self: center;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 16px;
}
.heading{
  font-size: 28px;
  line-height: 33px;
  color: #1e1e1e;
  margin-bottom: 24px;
  /* font-family: Roboto;*/
}
.editTodo__title,
.newTodo__title{
  margin-bottom: 16px;
  border-radius: 8px;
  border: 1px solid #cccccc;
  height: 40px;
  width: 357px;
  color: #1E1E1E;
  padding-left: 16px;
  padding-top: 11px;
  padding-bottom: 10px;
}
.editTodo__date,
.newTodo__date{
  margin-bottom: 16px;
  border-radius: 8px;
  border: 1px solid #cccccc;
  height: 40px;
  width: 357px;
  color: #1E1E1E;
  padding-left: 16px;
  padding-top: 11px;
  padding-bottom: 10px;
}
.editTodo__des,
.newTodo__des{
  margin-bottom: 16px;
  border-radius: 8px;
  border: 1px solid #cccccc;
  height: 70px;
  width: 357px;
  color: #1E1E1E;
  padding-left: 16px;
  padding-top: 11px;
  padding-bottom: 40px;
}
/*le style du  checkbox n est pas encore fini*/
.checkbox{
  width: 24px;
  height: 24px;
  /* margin-right: 13px;
  border: 1px solid #cccccc;*/
  border-radius: 4px;
}
